@charset "UTF-8";
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: 0;
}

fieldset {
  border: 0;
}

.general-button {
  z-index: 1;
}

.general-button__link {
  display: inline-block;
  background: #fe7634;
  color: white;
  font-family: LatoBold;
  font-size: calc(11px + 4 * (100vw / 1800));
  padding: 17px 47px;
  border-radius: 33px;
  text-decoration: none;
}

.general-button__link:hover {
  background: #f7651e;
}

.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-block__title {
  margin-bottom: 10px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  font-size: calc(30px + 15 * (100vw / 1800));
}

.header-block__text {
  margin-bottom: 33px;
  color: #d2d2d2;
  font-family: "LatoRegular";
  font-size: 16px;
  font-size: calc(12px + 4 * (100vw / 1800));
}

.booking-form-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.booking-form-general__title {
  color: #1b1b1b;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  font-size: calc(30px + 15 * (100vw / 1800));
}

.booking-form-general__text {
  color: #545454;
  margin-bottom: 30px;
  font-family: "LatoRegular";
  font-size: calc(12px + 4 * (100vw / 1800));
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.intro {
  background: url(../img/header/jarek-ceborski.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 880px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro::after {
  content: '';
  background: url(../img/header/vector.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.intro__inner {
  margin-top: 130px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro__suptitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: calc(17px + 13 * (100vw / 1800));
  font-weight: 100;
}

.intro__title {
  margin-bottom: 36px;
  font-family: 'Playfair Display', serif;
  font-size: calc(40px + 62 * (100vw / 1800));
  font-style: italic;
  font-weight: 800;
}

.intro__text {
  width: 50%;
  margin-bottom: 33px;
  font-family: "LatoRegular";
  font-size: calc(12px + 7 * (100vw / 1800));
}

.who-we-are {
  background: url(../img/who-we-are/bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.who-we-are__inner {
  display: flex;
  justify-content: space-between;
}

.who-we-are__item {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.who-we-are__suptitle {
  color: #fe7634;
  font-family: LatoBold;
  font-size: 15px;
  text-transform: uppercase;
}

.who-we-are__title {
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  font-size: calc(30px + 15 * (100vw / 1800));
}

.who-we-are__text {
  margin-bottom: 36px;
  width: 90%;
  color: #4e4f4e;
  font-family: "LatoRegular";
  font-size: calc(13px + 7 * (100vw / 1800));
}

.who-we-are__img {
  width: 94%;
}

.delicious-flavour {
  background: url(../img/delicious-flavour/bg.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
}

.delicious-flavour::before {
  content: '';
  background: url(../img/delicious-flavour/vector.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 63px;
  position: absolute;
  top: -16px;
  left: 0;
}

.delicious-flavour::after {
  content: '';
  background: url(../img/delicious-flavour/vector-bottom.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: -17px;
  left: 0;
}

.delicious-flavour__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}

.view-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 50px;
  z-index: 1;
}

.view-menu__item {
  background: #fff3e4;
  position: relative;
}

.view-menu__item_col {
  width: 25%;
}

.view-menu__item_col::before {
  content: '';
  border: 1px solid #9d9247;
  width: 92%;
  height: 95.6%;
  position: absolute;
  top: 13px;
  left: 11px;
}

.view-menu__item_row {
  width: 50%;
}

.view-menu__row {
  display: flex;
  position: relative;
}

.view-menu__row::before {
  content: '';
  border: 1px solid #9d9247;
  width: 95.6%;
  height: 92%;
  position: absolute;
  top: 13px;
  left: 11px;
}

.view-menu__top, .view-menu__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-menu__top_s, .view-menu__bottom_s {
  width: auto;
  height: 295px;
}

.view-menu__title {
  margin-bottom: 13px;
  color: #1e1e1e;
  font-family: "LatoBold";
  font-size: calc(16px + 8 * (100vw / 1800));
}

.view-menu__price {
  margin-bottom: 18px;
  color: #fe7634;
  font-family: "LatoBold";
  font-size: calc(25px + 15 * (100vw / 1800));
}

.view-menu__text {
  width: 191px;
  color: #494949;
  font-family: "LatoRegular";
  font-size: calc(13px + 4 * (100vw / 1800));
  text-align: center;
}

.meet-our-chef {
  padding-top: 110px;
  background: url(../img/meet-our-chef/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.meet-our-chef::after {
  content: '';
  background: url(../img/meet-our-chef/bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.meet-our-chef__inner {
  display: flex;
  justify-content: space-between;
}

.meet-our-chef__suptitle {
  color: #fe7634;
  font-family: LatoBold;
  font-size: 15px;
  text-transform: uppercase;
}

.meet-our-chef__title {
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  font-size: calc(30px + 15 * (100vw / 1800));
}

.meet-our-chef__text {
  width: 87%;
  margin-bottom: 33px;
  color: #545454;
  font-family: "LatoRegular";
  font-size: calc(13px + 7 * (100vw / 1800));
}

.meet-our-chef__name {
  color: #fe7634;
  margin-bottom: 30px;
  font-family: "LatoBold";
  font-size: 22px;
}

.meet-our-chef__name > span {
  color: #858585;
  font-family: "LatoRegular";
  font-size: 16px;
}

.what-client-say {
  background: url(../img/what-client’s-say/bg.jpg) no-repeat;
  background-size: cover;
  height: 760px;
  position: relative;
}

.what-client-say::after {
  content: '';
  background: url(../img/delicious-flavour/vector-bottom.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 31px;
  position: absolute;
  bottom: -17px;
  left: 0;
}

.what-client-say__inner {
  margin-top: 110px;
}

.reviews-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.reviews-carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-carousel__text {
  color: white;
  width: 55%;
  margin: auto;
  padding-top: 26px;
  padding-bottom: 40px;
  font-family: "LatoRegular";
  font-size: calc(12px + 14 * (100vw / 1800));
  text-align: center;
}

.reviews-carousel__photo {
  display: flex;
  justify-content: center;
}

.reviews-carousel__name {
  color: #fe7634;
  margin-top: 20px;
  font-family: "LatoBold";
  font-size: 22px;
  text-align: center;
}

.reviews-carousel__name > span {
  color: white;
  font-family: "LatoRegular";
  font-style: italic;
  font-size: calc(13px + 4 * (100vw / 1800));
}

.reviews-carousel > .slick-prev {
  background: url(../img/what-client’s-say/prev-next.png);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 47px;
  left: 128px;
  font-size: 0;
  cursor: pointer;
  z-index: 111;
}

.reviews-carousel > .slick-next {
  background: url(../img/what-client’s-say/prev-next.png);
  transform: rotate(180deg);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 47px;
  right: 128px;
  font-size: 0;
  cursor: pointer;
  z-index: 111;
}

.booking-form {
  background: url(../img/bookin-form/bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}

.booking-form-enter {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.booking-form-enter > fieldset {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

.booking-form-enter__label-icons {
  display: flex;
  margin-bottom: 18px;
}

.booking-form-enter__label {
  color: #4d4543;
  font-family: "LatoBold";
  font-size: 16px;
}

.booking-form-enter__icon {
  width: 17px;
  height: auto;
  margin-right: 10px;
}

.booking-form-enter__icon_date {
  background: url(../img/bookin-form/date.png) no-repeat;
}

.booking-form-enter__icon_time {
  background: url(../img/bookin-form/time.png) no-repeat;
}

.booking-form-enter__icon_people {
  background: url(../img/bookin-form/people.png) no-repeat;
}

.booking-form-enter__input {
  padding-left: 30px;
  color: #e7e7e6;
  border: 2px solid #e7e7e6;
  border-radius: 28px;
  width: 313px;
  height: 48px;
  font-family: "LatoBold";
  font-size: 15px;
}

.blog {
  background: url(../img/blog/bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}

.blog__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.blog__col {
  width: 21%;
}

.blog__col_s {
  width: 47%;
}

.blog__item {
  height: auto;
  margin-bottom: 20px;
}

.blog__item_s {
  margin: 0 20px;
}

.blog__picture {
  display: flex;
}

.blog__content {
  padding: 30px;
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
}

.blog__text-icons {
  display: flex;
  margin-bottom: 15px;
}

.blog__icon {
  background: url(../img/bookin-form/time.png) no-repeat;
  width: 17px;
  height: auto;
  margin-right: 7px;
}

.blog__date {
  color: #848484;
  font-family: "LatoBold";
  font-size: 15px;
}

.blog__title {
  color: #1b1b1b;
  font-family: "LatoBold";
  font-size: 18px;
}

.blog__text {
  color: #494949;
  margin-top: 37px;
  margin-bottom: 25px;
  font-family: "LatoRegular";
  font-size: calc(13px + 4 * (100vw / 1800));
}

.blog__link {
  color: #fe7634;
  font-family: "LatoBold";
  font-size: 15px;
  text-decoration: none;
}

.blog__link::after {
  content: '';
  background: url(../img/blog/next.png) no-repeat;
  width: 6px;
  height: auto;
}

.footer {
  background: url(../img/footer/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.footer::before {
  content: '';
  background: url(../img/footer/vector.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 68px;
  position: absolute;
  top: -21px;
  left: 0;
}

.subscribe {
  background: url(../img/footer/subscribe-bg.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 208px;
  margin-top: 100px;
  padding-left: 117px;
  display: flex;
  align-items: center;
}

.subscribe__title {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: calc(20px + 6 * (100vw / 1800));
}

.subscribe__text {
  color: #717171;
  font-family: "LatoRegular";
  font-size: calc(12px + 4 * (100vw / 1800));
}

.subscribe__input {
  padding-left: 30px;
  color: #e7e7e6;
  background: #121212;
  border: 2px solid #404040;
  border-radius: 28px;
  width: 313px;
  height: 48px;
  font-family: "LatoBold";
  font-size: calc(11px + 4 * (100vw / 1800));
}

.subscribe__btn {
  color: #ffffff;
  background: #fe7634;
  border: 2px solid #404040;
  border-radius: 28px;
  width: 200px;
  height: 48px;
  font-family: "LatoBold";
  font-size: calc(11px + 4 * (100vw / 1800));
  cursor: pointer;
}

.subscribe__btn:hover {
  background: #f7651e;
}

.footer-menu {
  margin-top: 45px;
}

.footer-menu::after {
  content: '';
  width: 100%;
  padding-top: 50px;
  margin-bottom: 32px;
  border-bottom: 2px solid #3b3f43;
}

.footer-menu__title {
  color: white;
  margin-bottom: 17px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 500;
}

.footer-menu__text {
  color: #a0a0a0;
  font-family: "LatoRegular";
  font-size: 16px;
}

.footer-menu__text > span {
  margin-top: 10px;
  display: block;
}

.footer-menu__text_p {
  padding-top: 48px;
}

.footer-menu__time {
  color: #fe7634;
  display: block;
  margin-top: 6px;
  font-family: "LatoBold";
  font-size: 22px;
}

.copyright {
  color: #a0a0a0;
}

.copyright__item_sb {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1700px) {
  .meet-our-chef::after {
    background-size: auto;
  }
}

@media (max-width: 1399px) {
  .view-menu__top_s, .view-menu__bottom_s {
    height: 285px;
  }
}

@media (max-width: 1199px) {
  .who-we-are {
    padding: 30px 0;
  }
  .view-menu__top_s, .view-menu__bottom_s {
    height: 240px;
  }
  .subscribe {
    padding-left: 84px;
    height: 180px;
  }
  .subscribe__input {
    width: 280px;
    height: 43px;
  }
  .subscribe__btn {
    height: 43px;
  }
}

@media (max-width: 992px) {
  .intro__text {
    width: 70%;
  }
  .delicious-flavour {
    background-size: auto;
  }
  .booking-form-enter__input {
    width: 228px;
  }
  .view-menu {
    justify-content: center;
  }
  .view-menu__item_col {
    width: 33.5%;
  }
  .reviews-carousel .slick-prev {
    left: 0;
  }
  .reviews-carousel .slick-next {
    right: 0;
  }
  .subscribe {
    padding-left: 47px;
    height: 136px;
  }
  .subscribe__input {
    width: 190px;
  }
  .subscribe__btn {
    width: 118px;
  }
}

@media (max-width: 768px) {
  .general-button__link {
    padding: 15px 32px;
  }
  .intro__text {
    width: 100%;
  }
  .view-menu__item_col {
    width: 44.5%;
  }
  .booking-form-enter__item {
    margin-bottom: 30px;
  }
  .booking-form-enter__item:last-child {
    margin-right: 0;
  }
  .booking-form-enter__input {
    width: 100%;
  }
  .blog__col {
    width: 48%;
  }
  .blog__col_left {
    order: 3;
  }
  .blog__col_s {
    width: 100%;
    order: 1;
  }
  .blog__col_right {
    order: 2;
    padding-right: 20px;
  }
  .blog__item_s {
    margin: 0 0;
    margin-bottom: 20px;
  }
  .subscribe {
    background: none;
    padding-left: 0;
  }
  .subscribe__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__input {
    width: 245px;
  }
  .reviews-carousel > .slick-prev {
    top: 196px;
  }
  .reviews-carousel > .slick-next {
    top: 196px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 24px;
  }
  .social {
    display: none;
  }
  .social_show {
    display: flex;
  }
  .logo > img {
    width: 70px;
    height: auto;
  }
  .header__inner {
    padding-top: 25px;
  }
  .intro {
    height: auto;
  }
  .intro__inner {
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .view-menu__item_col {
    width: 55.5%;
  }
  .view-menu___col_rew {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .view-menu__item_col {
    width: auto;
  }
  .blog__col_right {
    padding-right: 0;
    width: 100%;
  }
  .blog__col_left {
    width: 100%;
  }
  .blog__img {
    width: 100%;
  }
}

@media (max-width: 500px) and (max-width: 427px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  .subscribe__input {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */