
@media (max-width: 1700px) {
  .meet-our-chef {
    &::after {
      background-size: auto;
    }
  }
}
@media (max-width: 1399px) {
  .view-menu__top_s, .view-menu__bottom_s {
    // width: 285px;
    height: 285px;
  }
}
@media (max-width: 1199px) {
  .who-we-are {
    padding: 30px 0;
  }
  .view-menu__top_s, .view-menu__bottom_s {
    // width: 240px;
    height: 240px;
  }
  .subscribe {
    padding-left: 84px;
    height: 180px;
    &__input {
      width: 280px;
      height: 43px;
    }
    &__btn {
      height: 43px;
    }
  }
}
@media (max-width: 992px) {
  .intro {
    &__text {
      width: 70%;
    }
  }
  .delicious-flavour {
    background-size: auto;
  }
  .booking-form-enter {
    &__input {
      width: 228px;
    }
  }
  .view-menu {
    justify-content: center;
    &__item_col {
      width: 33.5%;
    }
  }
  .reviews-carousel {
    // &__icon-prev {
    //   left: 0;
    // }
    // &__icon-next {
    //   right: 0;
    // }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
  .subscribe {
    padding-left: 47px;
    // background: none;
    height: 136px;
    &__input {
      width: 190px;
    }
    &__btn {
      width: 118px;
    }
  }
}
@media (max-width: 768px) { 
  .general-button {
    &__link {
      padding: 15px 32px;
    }
  }
  .intro {
    &__text {
      width: 100%;
    }
  }
  .view-menu {
    &__item_col {
      width: 44.5%;
    }
  }
  .booking-form-enter {
    &__item {
      margin-bottom: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__input {
      width: 100%;
    }
  }
  .blog {
    &__col {
      width: 48%;
      &_left {
        order: 3;
      }
      &_s {
        width: 100%;
        order: 1;
      }
      &_right {
        order: 2;
        padding-right: 20px;
      }
    }
    &__item {
      &_s {
        margin: 0 0;
        margin-bottom: 20px;
      }
    }
  }
  .subscribe {
    background: none;
    padding-left: 0;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__input {
      width: 245px;
    }
    &__btn {
    }
  }

}
@media (max-width: 600px) { 
  .container {
    padding: 0 24px;
  }
  .social {
    display: none;
    &_show {
      display: flex;
    }
  }
  .logo > img {
    width: 70px;
    height: auto;
  }
  .header {
    &__inner {
      padding-top: 25px;
    }
  }
  .intro {
    height: auto;
    &__inner {
      margin-bottom: 100px;
    }
  }
}
@media (max-width: 576px) {
  .view-menu {
    &__item_col {
      width: 55.5%;
    }
    &__top_s, &__bottom_s {
      // width: auto;
    }
  }
  .view-menu {
    &___col {
      &_rew {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
@media (max-width: 500px) {
  .view-menu {
    &__item {
      &_col {
        width: auto;
      }
    }
  }
  .blog {
    &__col {
      &_right {
        padding-right: 0;
        width: 100%;
      }
      &_left {
        width: 100%;
      }
    }
    &__img{
      width: 100%;
    }
    &__col {
      // width: 100px;
    }
  }
  @media (max-width: 427px) {
    .subscribe {
      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px
      }
      &__input {
        margin-bottom: 10px;
      }
    }
  }
}