.meet-our-chef {
  padding-top: 110px;
  background: url(../img/meet-our-chef/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  &::after {
    content: '';
    background: url(../img/meet-our-chef/bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    > img {
      // height: 655px;
      // width: auto;
    }
  }
  &__suptitle {
    color: #fe7634;
    font-family: LatoBold;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 800;
    // font-size: 45px;
    font-size: calc(30px + 15 * (100vw / 1800));
  }
  &__text {
    width: 87%;
    margin-bottom: 33px;
    color: #545454;
    font-family: "LatoRegular";
    // font-size: 18px;
    font-size: calc(13px + 7 * (100vw / 1800));
  }
  &__name {
    color: #fe7634;
    margin-bottom: 30px;
    font-family: "LatoBold";
    font-size: 22px;
    > span {
      color: #858585;
      font-family: "LatoRegular";
      font-size: 16px;
    }
  }
}